<div class="container">
    <div class="row">
        {{#each links}}
            {{!-- {{ this }} --}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{{ url }}">
                            <h3 class="card-titles text-uppercase">
                                {{ title }}
                            </h3>
                        </a>
                        <p class="m-2">{{ description }}</p>
                        <p class="m-2">{{ timeago created_at }}</p>
                        <a href="/links/delete/{{id}}" class="btn btn-danger">Delete</a>
                        <a href="" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>